* {
  margin: 0;
  padding: 0;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
